<!DOCTYPE html>
<html>
<head>
    <title>Secure Password Page</title>
</head>
<body>
    <h1>Secure Password Page</h1>
    <p>Password: {{ password }}</p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setInterval(function() {
                $.get("/get_password", function(data) {
                    if (data) {
                        $("p").text("Password: " + data);
                    }
                });
            }, 1000);
        });
    </script>
</body>
</html>
