<!DOCTYPE html>
<html>
<head>
    <title>Secure Admin Page</title>
</head>
<body>
    <h1>Secure Admin Page</h1>
    <table>
        <thead>
            <tr>
                <th>Role</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for member in member_list %}
            <tr>
                <td>{{ member[0] }}</td>
                <td>{{ member[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="randomizeButton">Randomize</button>
    <button id="clearButton">Clear</button>
    <script>
        $(document).ready(function() {
            $('#randomizeButton').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/randomize_list',
                    success: function(response) {
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            });

            $('#clearButton').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/clear_list',
                    success: function(response) {
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
</body>
</html>
