<!DOCTYPE html>
<html>
<head>
    <title>Secure Password Page</title>
    <meta http-equiv="refresh" content="60">
</head>
<body>
    <h1>Secure Password Page</h1>
    <p id="password"></p>
    <script>
        $(document).ready(function() {
            function getPassword() {
                $.ajax({
                    type: 'GET',
                    url: '/get_password',
                    success: function(response) {
                        $('#password').text(response.password);
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            }

            getPassword();
            setInterval(getPassword, 60000);
        });
    </script>
</body>
</html>
